body{ /*basic style*/
	color : #000305;
	font-size : 87.5%; /* the base font is 16px*/ /*relative units */
	font-family: Arial,"Liberation Sans",sans-serif;   /*Arial is a Windows font, therefore i supply different fonts.*/
	line-height: 1.5;
	text-align: left;
	background-color:#CCCCCC;
}

a{
	text-decoration:none; /*remove underline or other basic styles*/
}

.body{
	margin: 0 auto;
	width: 70%;
	clear : both; /*no float*/
}

a:link, a:visited{
	color:#CF5C3F;
}

a:hover, a:active{
	background-color:#CF5C3F;
	color:#FFF;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}

.mainHeader img{
	width : 30%;
	height: auto;
	margin: 2% 0;
}
.mainHeader nav{
	background-color:#666;
	height:40px;
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}
.mainHeader nav ul {
	list-style: none;
	margin : 0 auto;
}
.mainHeader nav ul li{
	float : left;
	display : inline;
}
.mainHeader nav a:link,.mainHeader nav a:visited{
	color:#FFF;
	display: inline-block;/*http://www.w3schools.com/cssref/pr_class_display.asp*/ /*http://designshack.net/articles/css/whats-the-deal-with-display-inline-block/*/
	padding:10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color:#CF5C3F;	
	text-shadow: none;
}

.mainHeader nav ul li a{
	/*line-height : 20%;*/
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}
.mainContent{
    width: 70%;
    float : left;
    margin-top : 2%;
    
	line-height : 2em;/*25*/
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
	/*overflow:hidden;*/
}

.content{
	/*width: 70%;
	float : left;*/
}


.reportContent{
	/*background-color:#000305;*/
	width: 100%;
	float : left;
    margin-top : 2%;
}

.post-info{
	font-style:italic;
	color:#999;
	font-size:85%;
}


.topcontent {
	background-color: #FFF;
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
	padding : 3% 5%;
    margin-bottom : 2%;
}

.bottomcontent{
	background-color: #FFF;
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
	padding : 3% 5%;
	margin-bottom : 2%;
}

.top-sidebar{
	width : 22%;
	float : left;
	background-color: #FFF;
	margin: 2% 0 2% 2%;
	/*margin: 1em 0em 1em 1em;*/
	padding: 2% 3%;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}

.middle-sidebar{
	width : 22%;
	float : left;
	background-color: #FFF;
	margin: 0 0 2% 2%;
	padding: 2% 3%;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}

.bottom-sidebar{
	width : 22%;
	float : left;
	background-color: #FFF;
	margin: 0 0 2% 2%;
	padding: 2% 3%;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}

.mainFooter{
	width:100%;
	height:40px;
	background-color:#666;
	float:left;
	margin: 1% auto;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
}

.mainFooter p{
	width : 92%;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	/*margin : 1% auto;*/
	color: #FFF;
}

@media only screen and (max-width: 480px)  and (min-width: 150px){
	.body{
		width: 90%;
		font-size:95%;
	}
	.mainHeader img{
		width : 100%;
	}
	.mainHeader nav{
		height:160px;
	}
	.mainHeader nav ul {
		/*height:100%;*/
		padding-left:0;
	}
	.mainHeader nav ul li{
		width:100%;
		text-align:center;
	}
	.mainHeader nav a:link,.mainHeader nav a:visited{
		padding:10px 25px;
		display:block;
	}
    .mainContent{
        width: 100%;
        float : left;
        
    }
	.content{
		width: 100%;
		float : left;
		margin-top:2%;
	}
	.post-info{
		display: none;
	}
	
	.topcontent {
		margin : 2% 0;
		/*margin-bottom:2%;*/
	}
	
	.bottomcontent{
		margin : 2% 0;
		margin-bottom:2%;
		margin-top:4%;
	}

	.top-sidebar{
		width : 94%;
		margin : 2% 0;
	}
	.middle-sidebar{
		width : 94%;
		margin : 2% 0;
	}
	
	.bottom-sidebar{
		width : 94%;
		margin : 2% 0;
	}
		

}


DIV.subtoc {
	padding: 1em;
	border: solid thin;
	margin: 1em 0;
	background: #ddd;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
	border-color:#CF5C3F;
}

.code {
	line-height: 1.1em;
	padding: 1em 1em;
	
	width: 96%;
	border: none;
	background-color: #eee;
	
	border-radius : 0.4em;
	-moz-border-radius : 0.4em;
	-webkit-border-radius : 0.4em;
	
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.reportImg{
	border: solid thin;
	border-color:#CF5C3F;
	width:96%;
	margin:1em 0;
    padding: 1em 1em;
    border-radius : 0.4em;
    -moz-border-radius : 0.4em;
    -webkit-border-radius : 0.4em;
	
}
.form{
	width:100%;
}
.col-submit{
	float:right;
}
.col1{
	width:30%;
}
.col2{
	width:70%;
}
.table{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #CCCCCC;
}
.input{
	width:80%;
}

.video{
	width:100%;
	height:90%;
}




